/* Used to hide close (X) button in dialogs */
.hideLinks a { display: none !important; }

#disclaimerText {
    font-size: 0.8em;
}

#dropData {
    position: relative;
}

#gbIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#dropMessage {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

#dropMessage p {
    text-align: center;
}

#moduleContent {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

.graphics {
    margin: 0;
    padding: 0;
    border: none;
    cursor: default;
}

#exploreGraph {
    font-size: 100%;
}

#exploreGraph rect {
    stroke: none;
}

#exploreGraph rect.bar {
    fill: lightgray;
}

#exploreGraph text {
    stroke: none;
    fill: white;
    text-anchor: middle;
    text-shadow: none;
}

#exploreGraph text.timeLabel { font-size: 1em; }
#exploreGraph text.dayLabel { font-size: 1.75em; }
#exploreGraph text.leftArrow { font-size: 2em; text-anchor: start; cursor: pointer; }
#exploreGraph text.rightArrow { font-size: 2em; text-anchor: end; cursor: pointer; }

#exploreGraph path.land1 { fill: #798086; stroke: none; }
#exploreGraph path.land2 { fill: #61666B; stroke: none; }

#exploreMessage text {
    font-weight: bold;
    stroke: #464;
    cursor: pointer;
}

#gameBoard {
    font-size: 100%;
}

#gameBoard text {
    stroke: black;
    fill: white;
    text-anchor: middle;
    text-shadow: none;
}

#gameBoard text.scoreLabel { font-size: 2em; }
#gameBoard text.levelLabel { font-size: 2em; }
#gameBoard text.rowCountLabel { font-size: 2em; }

#playMessage text {
		font-weight: bold;
		stroke: #464;
		cursor: pointer;
}
