.graphics {
    margin: 0;
    padding: 0;
    border-style: none;
    height: 99%;
    cursor: default;
}

#exploreGraph {
    font-size: 100%;
}

#exploreGraph rect {
    stroke: none;
    fill: steelblue;
}

#exploreGraph text {
    stroke: none;
    fill: white;
    text-anchor: middle;
    text-shadow: none;
}

#exploreGraph text.timeLabel { font-size: 1em; }
#exploreGraph text.dayLabel { font-size: 2em; }
#exploreGraph text.leftArrow { font-size: 2em; text-anchor: start; cursor: pointer; }
#exploreGraph text.rightArrow { font-size: 2em; text-anchor: end; cursor: pointer; }

#exploreGraph line.baseLoad { stroke: red; stroke-width: 0.25em; }