.graphics {
    margin: 0;
    padding: 0;
    border-style: none;
    height: 99%;
}

#exploreGraph rect {
    stroke: none;
    fill: steelblue;
}

#exploreGraph text {
    stroke: none;
    fill: white;
    text-anchor: middle;
    text-shadow: none;
}

#exploreGraph text.timeLabel { font-size: medium; }
#exploreGraph text.dayLabel { font-size: large; }
